In [3]:
import pandas as pd
data = pd.read_csv("/home/wasiq/Documents/Project/Panda/fetching/Dataset///Titanic.csv")

In [7]:
#data.duplicated().sum()   no of duplicate row
    
#data.isnull().sum()    count missing values per column
#data.notnull().sum()      count unmissing
#\data["SITE_NO"].nunique()    non u nuiques value
#data["DATUM"].unique()     All unique values

array(['NAD83', 'NAD27', 'WGS84'], dtype=object)

In [33]:
data.tail()
#data['Sex'].value_counts()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
#data1=data.groupby(['Name','Sex','Age']).size().reset_index(name='Count')
#data1.to_csv('/home/wasiq/Desktop/group.csv', index=False)    save as csv file
#data1.to_excel('/home/wasiq/Desktop/group.xlsx')
#data1.to_html('/home/wasiq/Desktop/groupp.html', index=False)

#data2 = data.groupby(['Name', 'Sex', 'Age']).size().reset_index().iloc[459:680]  export in html 
#data2 = data.drop_duplicates(subset=['Name','Sex','Age']).iloc[459:680]  export in html and dont show count

#print(data2)
data2.to_html('/home/wasiq/Desktop/group2.html',index=False)